<ion-view title="{{navTitle}}">

    <!--Nav Buttons left-->
    <ion-nav-buttons side="left">
        <button class="button button-small button-icon icon ion-ios-home" onclick="window.location.href='#/home'"></button>
        <button class="button button-small button-icon" onclick="window.location.href='#/avatar'">
            <img border="0" alt="Weather" src="{{avatar}}"  width="50" height="50">
        </button>
    </ion-nav-buttons>

    <!--Nav Buttons right-->
    <ion-nav-buttons side="secondary">
        <button class="button button-small button-icon icon ion-information-circled" ng-click="showAlert()"></button>
        <button class="button button-small button-icon icon ion-ios-gear" onclick="window.location.href='#/account'"></button>
    </ion-nav-buttons>

    <ion-content>

        <button class="button button-block button-positive" ng-click="loginModal.show()">Se connecter</button>
        <button class="button button-block button-positive" onclick="window.location.href='#/connection'">Connection à Poppy</button>

    </ion-content>
</ion-view>
